/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body e layout */
body {
    display: flex;
    min-height: 100vh;
    background-color: #f3f7f5;
    color: #1f2933;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background: linear-gradient(180deg, #374151, #1f2933);
    color: white;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.sidebar.collapsed {
    width: 70px;
}

.sucesso{
    background:#d4edda;
    color:#155724;
    padding:12px;
    border-radius:6px;
    margin-bottom:20px;
    font-weight:bold;
}

.logo {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Botão toggle */
.sidebar .toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #059669;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: 0.3s;
}

.sidebar .toggle-btn:hover {
    background: #047857;
}

/* Sidebar colapsada */
.sidebar.collapsed .logo,
.sidebar.collapsed .menu .text {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: 0.3s;
}

/* Menu */
.menu {
    margin-top: 20px;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    background: #059669;
    border-radius: 8px;
}

/* Main */
.main {
    flex: 1;
    padding: 30px;
}

.main h2 {
    color: #374151;
    margin-bottom: 15px;
}

/* Header padrão */
.header h1 {
    color: #374151;
}

.header p {
    color: #6b7280;
    margin-top: 10px;
}

/* Cards dashboard */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.card {
    margin-top: 10px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
